/* tf-admin.css
	 For the user pages and the venue/products/posts pages
*/

body.woocommerce_page_view-venues .wp-list-table {
  .column-products,
  .column-redeemed_qty,
  .column-order_cnt,
  .column-order_qty,
  .column-commission,
  .column-vat,
  .column-gross_revenue,
  .column-net_payable,
  .column-paid_amount,
  .column-balance_due {
    text-align: right;

    a > span:first-child {
      width: 80%;
    }
  }
}

.tf-alignright {
  text-align: right !important;
}

.tf-aligncenter {
  text-align: center !important;
}

.tf-alignleft {
  text-align: left !important;
}

body.woocommerce_page_view-order-transactions .wp-list-table {
  .column-net_cost,
  .column-commission,
  .column-vat,
  .column-gross_income,
  .column-venue_due {
    text-align: right;

    a > span:first-child {
      width: 80%;
    }
  }
}

body.woocommerce_page_view-payments .wp-list-table {
  .column-amount {
    text-align: right;

    a > span:first-child {
      width: 80%;
    }
  }
}

body.woocommerce_page_view-payments,
body.woocommerce_page_view-venues {
  .dashicons.print-invoice-btn,
  .dashicons.display-details-btn {
    font-size: 30px;
    cursor: pointer;
  }

  .payment-details-container,
  .venue-details-container {
    border: 2px solid lightblue;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    padding: 8px 20px;
  }

  table.widefat {
    border: none;
  }
}

#tf_post_body {
  #reset-btn {
    background-color: darkorange;
    color: white;
  }

  .clear-filter {
    margin-right: 6px;
  }
}
.tf_order_trans_update_entry {
  padding: 6px;
  display: flex;

  #trans_update_start_date,
  #run-build-trans,
  #update_trans_date_label {
    margin: 8px;
    padding: 8px;
    height: 35px;
    line-height: normal;
    min-height: 0px;
  }

  #update_trans_date_label {
    font-size: 16px;
  }

  #trans_update_start_date,
  #run-build-trans {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    font-size: 13px;
  }

  #run-build-trans {
    background-color: #0073aa;
    color: white;
    cursor: pointer;
  }
}
body.woocommerce_page_wc-settings {
  #run-rebuild-trans {
    background-color: #e52b50;
    color: white;
  }
  #run-rebuild-trans:hover {
    background-color: #fd5c63;
    color: white;
  }

  .spinner.tf-spinner {
    float: none;
  }

  #tf-trans-cron-toggle {
    margin: 6px 0 0 12px;
  }
  #trans-cron-toggle-label {
    margin: 12px;
    font-size: 20px;
    vertical-align: text-top;
  }
  #tf-financial-cron-next-time {
    font-weight: bold;
  }
}
